<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title"></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ControleEstoque.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/@@coreui/coreui@5.2.0/dist/css/coreui.min.css" rel="stylesheet" integrity="sha384-u3h5SFn5baVOWbh8UkOrAaLXttgSF0vXI15ODtCSxl0v/VKivnCN6iHCcvlyTL7L" crossorigin="anonymous">
    <style>



    </style>
</head>
    
<body style="background-color: #f8f4f4;">
    <header>
        <div class="sidebar sidebar-narrow-unfoldable border-end">
            <div class="sidebar-header border-bottom">
                <a asp-area="" asp-controller="Home" asp-action="Index"><div class="sidebar-brand"><i class="fa-solid fa-house"></i></div></a>
            </div>
            <ul class="sidebar-nav">
                <li id="nomeMenu" class="nav-title"></li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Fornecedor" asp-action="Index">
                        <i class="fa-solid fa-boxes-packing icon"></i> Fornecedores
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Produto" asp-action="Index">
                        <i class="fa-solid fa-tags icon"></i> Produtos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Cliente" asp-action="Index">
                        <i class="fa-solid fa-user-group icon"></i> Clientes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Venda" asp-action="Index">
                        <i class="fa-solid fa-money-check-dollar icon"></i> Vendas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Configuracao" asp-action="Index">
                        <i class="fa-solid fa-gear icon"></i> Configurações
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="mainContainer" style="margin-bottom: 300px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="margin-top: 10px; background-color: #fff" class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Controle Estoque - <a asp-area="" asp-controller="Home" asp-action="Privacy">Arthur Cruz</a>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@coreui/coreui@5.2.0/dist/js/coreui.bundle.min.js" integrity="sha384-JdRP5GRWP6APhoVS1OM/pOKMWe7q9q8hpl+J2nhCfVJKoS+yzGtELC5REIYKrymn" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4327c32687.js" crossorigin="anonymous"></script>
    <script src="~/js/sweetAlert.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

    <script>
        $(document).ready(function () {
            $.ajax({
            url: '@Url.Action("GetNomeSistema", "Principal")',
                type: 'GET',
                success: function (response) {
                    if (response.success) {
                        $('#nomeMenu').html(response.message);
                        $('#title').html(response.message);
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Erro",
                            text: response.message,
                        });
                    }
                },
                error: function () {
                    // alert("Erro ao enviar os dados.");
                }
            });
            $.ajax({
                url: '@Url.Action("GetCorSistema", "Principal")',
                type: 'GET',
                success: function (response) {
                    if (response.success) {
                        $('body').css('background-color', response.message);
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Erro",
                            text: response.message,
                        });
                    }
                },
                error: function () {
                    // alert("Erro ao enviar os dados.");
                }
            });
        });
    </script>